*{
    /*Generales*/
    padding: 0%;
    margin: 0%;
}
body{
    /*Colores*/
    background-color: #232946;

    /*Display*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    /*Colores*/
    color: #fffffe;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 70px;

    margin: 5% 0% 0% 0%;

    /*Otros*/
    z-index: 3;
}
.descripcion{
    /*Dimensiones*/
    width: 52.5%;

    /*Display*/
    text-align: center;

    /*Margenes*/
    margin: 0% 0% 1% 0%;
}
.descripcion p{
    /*Colores*/
    color: #b8c1ec;

    /*Fuente*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;

    /*Otros*/
    z-index: 2;

    /*Margenes*/
    margin: 1% 4% 2.5% 0.4%;

    /*Otros*/
    z-index: 1;
}
.contenedor{
    width: 70%;
    height: 100%;
}
.descripcion{
    width: 60%;
    height: auto;
    text-align: center;
}
.resultados{
    width: 100%;
    height: auto;

    background-color: #fffffe;

    border-radius: 4px;

    
}
button{
    width: 10%;
    height: 10%;
}
.copiar{
    /*Colores*/
    background-color: transparent;
    border: none;
    color: #d4939d;
    font-size: 26px;

    /*Tamaño*/
    width: auto;
    height: auto;

    /*Otros*/
    cursor: pointer;
}
span{
    /*Colores*/
    color: #232946;
    
    /*Fuente*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;

}
a i{
    margin: 1.25% 0% 5% 0%;
    font-size: 36px;
    color: #d4939d;

    text-decoration: none;
}