*{
    /*Ajustes generales*/
    padding: 0%;
    margin: 0%;
}
.options{
    /*Dimensiones*/
    width: auto;
    height: 18%;

    /*Colores*/
    background-color: #d4d8f0;
}
.options .user{
    /*Dimensiones*/
    width: auto;
    height: 50%;

    /*Display*/
    display: flex;
    justify-content: end;
    align-items: center;
}
.options .user p{
    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 30px;

    /*Margenes*/
    margin: 1% 4% 0% 0.4%;

    /*Colores*/
    color: #232946;

    /*Otros*/
    z-index: 1;
}
.options .user i{
    /*Tamaño*/
    font-size: 36px;

    /*Colores*/
    color: #232946;

    /*Margenes*/
    margin-top: 1%;
    z-index: 1;
}
.options .nav{
    /*Dimensiones*/
    width: auto;
    height: 50%;

    /*Display*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.options .nav a{
    /*Colores*/
    color:#232946;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 34px;

    /*Margenes*/
    margin: 0% 2% 0.7% 2%;

    /*Otros*/
    text-decoration: none;
    z-index: 1;
}
.options a:hover{
    /*Otros*/
    text-decoration: underline;
}
.options a:active{
    /*Otros*/
    text-decoration: none;
}
.welcome{
    /*Colores*/
    background-color: #232946;

    /*Dimensiones del contenedor*/
    width: auto;
    height: 72%;

    /*Display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*Otros*/
    z-index: 2;
}
.welcome h1{
    /*Colores*/
    color: #fffffe;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 72px;

    /*Otros*/
    z-index: 2;
}
.welcome div{
    /*Dimensiones*/
    width: 52.5%;

    /*Display*/
    text-align: center;

    /*Margenes*/
    margin: 0% 0% 1% 0%;
}
.welcome p{
    /*Colores*/
    color: #b8c1ec;

    /*Fuente*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;

    /*Otros*/
    z-index: 2;
}
.welcome a{
    /*Dimensiones*/
    padding: 0.6% 2.4% 0.6% 2.4%;

    /*Bordes*/
    border: 1px solid #fffffe;
    border-radius: 6px;

    /*Colores*/
    background-color: transparent;
    color: #fffffe;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 26px;

    /*Otros*/
    text-decoration: none;
    z-index: 2;
}
.welcome a:hover{
    /*Colores*/
    background-color: #eebbc3;
    color: #232946;

    /*Bordes*/
    border: 1px solid #eebbc3;

    /*Animación*/
    transition: 0.2s;
}
.welcome a:hover:active{
    /*Colores*/
    color: #fffffe;

    /*Animación*/
    transition: 0s;
}
.gram-vocab-writt{
    /*Dimensiones*/
    width: auto;
    height: 72%;

    /*Colores*/
    background-color: #d4d8f0;

    /*Display*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*Otros*/
    z-index: 1;
}
.gram-vocab-writt h1{
    /*Display*/
    text-align: center;

    /*Colores*/
    color: #232946;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 72px;

    /*Margenes*/
    margin-top: -2.5%;

    /*Otros*/
    z-index: 2;
}
.gram-vocab-writt p{
    /*Display*/
    text-align: center;

    /*Colores*/
    color: #232946;

    /*Fuente*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 26px;

    /*Margenes*/
    margin-bottom: 2.5%;

    /*Otros*/
    z-index: 2;
}
.contenedor-temas{
    /*Dimensiones*/
    width: auto;
    height: 45%;

    /*Display*/
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*Otros*/
    z-index: 2;
}
.gram-vocab-writt .contenido{
    /*Dimensiones*/
    width: 23%;
    height: 100%;

    /*Bordes*/
    border-radius: 6px;

    /*Colores*/
    background-color: #fffffe;

    /*Otros*/
    z-index: 3;

    /*Margenes*/
    margin: 0% 1.2% 0% 1.2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gram-vocab-writt .contenido h2{
    /*Display*/
    text-align: center;

    /*Colores*/
    color: #232946;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 50px;

    /*Margenes*/
    margin-bottom: 6%;
    margin-top: -9%;

    /*Otros*/
    z-index: 3;
}
.gram-vocab-writt .contenido .input-contenedor-temas #tipo{
    /*Dimensiones*/
    width: 70%;
    height: 57.5%;

    /*Colores*/
    color: #232946;
    background-color: transparent;

    /*Bordes*/
    border: 2px solid #232946;
    border-radius: 6px;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 24px;

    /*Margenes*/
    margin-bottom: 1.8%;

    /*Otros*/
    text-indent: 3%;
    outline: none;
    cursor: pointer;
    z-index: 3;

    /*Flecha de la derecha*/
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/iconos/sort-down-solid.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right 3% top 1px;
}
/*FALTA MODIFICAR EL OPTION DEL SELECT*/
.gram-vocab-writt .contenido .input-contenedor-temas #tipo:hover{
    /*Colores*/
    background-color: #232946;
    color: #b8c1ec;

    /*Bordes*/
    border: 2px solid #232946;

    /*Flecha de la derecha*/
    background-image: url(/iconos/sort-down-solid2.png);

    /*Otros*/
    transition: 0.2s;
}
.gram-vocab-writt .contenido .input-contenedor-temas #tipo:hover:active{
    /*Colores*/
    color: #fffffe;

    /*Flecha de la derecha*/
    background-image: url(/iconos/sort-down-solid3.png);

    /*Otros*/
    transition: 0s;
}
.gram-vocab-writt .contenido button[type="submit"]{
    /*Dimensiones*/
    width: 34%;
    height: 57.5%;

    /*Colores*/
    background-color: transparent;
    color: #232946;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 24px;

    /*Bordes*/
    border: 2px solid #232946;
    border-radius: 6px;

    /*Otros*/
    cursor: pointer;
    z-index: 3;
}
.gram-vocab-writt .contenido button[type="submit"]:hover{
    /*Colores*/
    background-color: #232946;
    color: #b8c1ec;

    /*Bordes*/
    border: 2px solid #232946;

    /*Otros*/
    transition: 0.2s;

}
.gram-vocab-writt .contenido button[type="submit"]:hover:active{
    /*Colores*/
    color: #fffffe;

    /*Otros*/
    transition: 0s;
}
.cuestionario{
    /*Dimensiones*/
    width: auto;
    height: auto;

    /*Display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.25% 0% 3.25% 0%; 

    /*Colores*/
    background-color: #232946;

    /*Otros*/
    z-index: 2;
}
.cuestionario h1{
    /*Colores*/
    color: #fffffe;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 72px;

    /*Otros*/
    z-index: 2;

    /*Posicionamiento*/
    text-align: center;
}
.cuestionario div{
    /*Dimensiones*/
    width: 52.5%;

    /*Display*/
    text-align: center;
}
.cuestionario p{
    /*Colores*/
    color: #b8c1ec;

    /*Fuente*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;

    /*Otros*/
    z-index: 2;

    /*Margenes*/
    margin-bottom: 5%;
}
.cuestionario .preguntas{
    /*Dimensiones*/
    width: 60%;
    height: 50%;

    /*Display*/
    display: flex;
    flex-direction: row;
}
.cuestionario .preguntas .pre-izquierda{
    /*Dimensiones*/
    width: 50%;

    /*Display*/
    text-align: left;

    /*Margenes*/
    margin-right: 1.25%;
}
.cuestionario .preguntas .pre-derecha{
    /*Dimensiones*/
    width: 50%;

    /*Display*/
    text-align: left;

    /*Margenes*/
    margin-left: 1.25%;
}
.cuestionario .preguntas .pre-izquierda h2{
    /*Colores*/
    color: #fffffe;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 32px;

    /*Otros*/
    z-index: 2;
}
.cuestionario .preguntas .pre-derecha h2{
    /*Colores*/
    color: #fffffe;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 32px;

    /*Otros*/
    z-index: 2;
}
.cuestionario .preguntas .pre-izquierda label{
    /*Colores*/
    color: #b8c1ec;

    /*Fuente*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;

    /*Otros*/
    z-index: 2;

    /*Margenes*/
    margin: 0% 0% 0% 5%;
    line-height: 40px;
}
.cuestionario .preguntas .pre-derecha label{
    /*Colores*/
    color: #b8c1ec;

    /*Fuente*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;

    /*Otros*/
    z-index: 2;

    /*Margenes*/
    margin: 0% 0% 0% 5%;
    line-height: 40px;
}
.cuestionario input[type="button"]{
    /*Dimensiones*/
    padding: 0.6% 2.4% 0.6% 2.4%;

    /*Bordes*/
    border: 1px solid #fffffe;
    border-radius: 6px;

    /*Colores*/
    background-color: transparent;
    color: #fffffe;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 26px;

    /*Otros*/
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
}
.cuestionario input[type="button"]:hover{
    /*Colores*/
    background-color: #eebbc3;
    color: #232946;

    /*Bordes*/
    border: 1px solid #eebbc3;

    /*Animación*/
    transition: 0.2s;
}
.cuestionario input[type="button"]:hover:active{
    /*Colores*/
    color: #fffffe;

    /*Animación*/
    transition: 0s;
}
/*FALTAN MODIFICAR LOS CHECKBOX Y RADIO BUTTON*/
.nosotros{
    /*Dimensiones*/
    width: auto;
    height: 85%;

    /*Display*/
    display: flex;
    flex-direction: column;
    
    /*Colores*/
    background-color: #eebbc3;

    /*Margenes*/
    padding: 3.25% 0% 3.25% 0%;

    /*Otros*/
    z-index: 1;
}
.nosotros h1{
    /*Colores*/
    color: #232946;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 72px;

    /*Otros*/
    z-index: 2;

    /*Posicionamiento*/
    text-align: center;
}
.nosotros .descripcion{
    /*Dimensiones*/
    width: 52.5%;
    height: auto;

    /*Display*/
    margin-right: auto;
    margin-left: auto;
}
.nosotros p{
    /*Display*/
    text-align: center;

    /*Fuente*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 26px;

    /*Color*/
    color: #232946;

    /*Otros*/
    z-index: 2;
}
.nosotros .superior{
    /*Dimensiones*/
    width: auto;
    height: 45%;

    /*Display*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.nosotros .inferior{
    /*Dimensiones*/
    width: auto;
    height: 45%;

    /*Display*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.nosotros .superior .usuario-temas, .nosotros .inferior .usuario-temas{
    /*Dimensiones*/
    width: 23%;
    height: 80%;

    /*Colores*/
    background-color: #fffffe;

    /*Display*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /*Margenes*/
    margin: 1.25% 1.25% 1.25% 1.25%;

    /*Bordes*/
    border-radius: 6px;

    /*Otros*/
    z-index: 2;
}
.nosotros .superior .usuario-temas h2, .nosotros .inferior .usuario-temas h2{
    /*Display*/
    text-align: center;
    margin-bottom: -20%;

    /*Colores*/
    color: #232946;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 52px;

    /*Otros*/
    z-index: 3;
}
.nosotros .superior .usuario-temas p, .nosotros .inferior .usuario-temas p{
    /*Display*/
    text-align: center;

    /*Colores*/
    color: #232946;

    /*Fuente*/
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 40px;

    /*Otros*/
    z-index: 3;
}